<table class="table">
    <thead>
        <tr>
            <th>Article Title</th>
            <th>Facebook Shares</th>
            <th>Facebook Likes</th>
            <th>Facebook Comments</th>
            <th>Facebook Total</th>
            <th>Share Total</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        <td>
            <%= title %>
        </td>
        <td>
            <%= facebook_shares %>
        </td>
        <td>
            <%= facebook_likes %>
        </td>
        <td>
            <%= facebook_comments %>
        </td>
        <td>
            <%= facebook_total %>
        </td>
        <td>
            <%= share_total %>
        </td>
        <td>
            <%= last_updated %>
        </td>
    </tbody>
</table>
