<thead>
    <tr>
        <th>Article Title</th>
        <th>Facebook Shares</th>
        <th>Facebook Comments</th>
        <th>Facebook Total</th>
        <th>Share Total</th>
        <th>Last Updated</th>
    </tr>
</thead>
<tbody>
    <% for (var i = 0; i < finalArray.length; i++) { %>
        <tr>
            <td>
                <%= finalArray[i].article.title %>
            </td>
            <td>
                <%= finalArray[i].article.facebook.shares %>
            </td>
            <td>
                <%= finalArray[i].article.facebook.comments %>
            </td>
            <td>
                <%= finalArray[i].article.facebook.shares + finalArray[i].article.facebook.comments %>
            </td>
            <td>
                <%= finalArray[i].article.overall.shares %>
            </td>
            <td>
                <%= finalArray[i].article.updated_at %>
            </td>
        </tr>
        <% }; %>
</tbody>
