.table-responsive {
  overflow: auto;
  height: 500px;
}
.table-email td:nth-child(1) {
  width: 100%;
}
.table-email tr:hover {
  cursor: default !important;
}
.date-range-btn {
  padding-top: 28px;
  text-align: center;
}
.date-range-btn > a {
  width: 100%;
}
.num-comments {
  text-align: center;
  background-color: white;
}
.search-by-film-container {
  width: 100%;
}
